{% extends "base.html" %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}
<h2>📋 Listado de Productos</h2>

{% if msg == 'ok' %}
<div style="color: green; padding: 8px; font-weight: bold;">
    ✔ Movimiento registrado con éxito
</div>
{% endif %}

<table border="1" cellspacing="0" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>SKU</th>
        <th>Descripción</th>
        <th>Stock Actual</th>
        <th>Stock Mínimo</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.sku }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.stock_minimo }}</td>
    </tr>
    {% endfor %}
</table>
<br />
<a href="/web/alerta-stock">🚨 alerta stock</a>
{% endblock %}